<div class="page">
  <div>
    <!-- <img width="200px" height="200px" src="src/assets/images/pants-1.png" alt=""> -->
  </div>
  <div class="new-order-container">
    <div class="first-container">
      <div class="new-order-heading">
        <i class="fa-solid fa-cash-register"></i> New Order
      </div>
      <button
        type="button"
        class="btn btn-outline-light back-button"
        routerLink="/order"
      >
        Back to Order Master
      </button>
    </div>
    <div class="form-container">
      <div class="form-content form-control">
        <form [formGroup]="newOrderForm" class=" " >
          <div class="form-group">
            <h3>New Order Form</h3>
            <label for="id"></label>
            <div
              *ngIf="
                newOrderForm.get('id')?.errors &&
                newOrderForm.get('id')?.touched
              "
              class="text-danger"
            >
              id is required
            </div>
          </div>
          <!--  -->
          <div class="row">
            <div class="col-3 left-column">
              <div class="border left-inner-column">
                <div class="date-time-section">
                  <div class="mb-3">
                    <label for="date">Order Date</label>
                    <input
                      type="date"
                      id="date"
                      formControlName="date"
                      placeholder="date"
                      class="form-control date-input input"
                    />
                    <!-- <label for="date">date</label> -->
                    <div
                      *ngIf="
                        newOrderForm.get('date')?.errors &&
                        newOrderForm.get('date')?.touched
                      "
                      class="text-danger"
                    >
                      please select a date
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="time">time</label>
                    <input
                      type="time"
                      id="date"
                      formControlName="time"
                      placeholder="time"
                      class="form-control time-input input"
                    />
                    <!-- <label for="date">date</label> -->
                    <div
                      *ngIf="
                        newOrderForm.get('time')?.errors &&
                        newOrderForm.get('time')?.touched
                      "
                      class="text-danger"
                    >
                      please select a time
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="paymentMode">Payment Mode</label>
                    <select
                      id="paymentMode"
                      formControlName="paymentMode"
                      aria-placeholder="Select Mode"
                      class="form-select input"
                    >
                      <option value="CASH">CASH</option>
                      <option value="CREDIT">CREDIT</option>
                    </select>
                    <div
                      *ngIf="
                        newOrderForm.get('paymentMode')?.errors &&
                        newOrderForm.get('paymentMode')?.touched
                      "
                      class="text-danger"
                    >
                      Status is required
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-between">
                  <div class="mb-3">
                    <input
                      type="text"
                      id="name"
                      formControlName="name"
                      placeholder="Name"
                      class="form-control input name-input"
                    />
                    <div
                      *ngIf="
                        newOrderForm.get('name')?.errors &&
                        newOrderForm.get('name')?.touched
                      "
                      class="text-danger"
                    >
                      fill name without digits
                    </div>
                  </div>
                  <div class="mb-3">
                    <input
                      type="text"
                      id="mobile"
                      formControlName="mobile"
                      placeholder="Mobile Number"
                      class="form-control input"
                    />
                    <!-- <label for="mobile">Mobile Number</label> -->
                    <div
                      *ngIf="
                        newOrderForm.get('mobile')?.errors &&
                        newOrderForm.get('mobile')?.touched
                      "
                      class="text-danger"
                    >
                      fill 10 digit mobile no
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    id="name"
                    formControlName="address"
                    placeholder="Address"
                    class="form-control input"
                  />
                  <div
                    *ngIf="
                      newOrderForm.get('address')?.errors &&
                      newOrderForm.get('address')?.touched
                    "
                    class="text-danger"
                  >
                    Required
                  </div>
                </div>
                <div class="date-time-section">
                  <div class="mb-3">
                    <label for="date">Delivery Date</label>
                    <input
                      type="date"
                      id="date"
                      formControlName="deliveryDate"
                      placeholder="date"
                      class="form-control date-input input"
                    />
                    <!-- <label for="date">date</label> -->
                    <!-- <div *ngIf="newOrderForm.get('date')?.errors && newOrderForm.get('date')?.touched" class="text-danger">
                                please select a date
                              </div> -->
                  </div>
                  <div class="mb-3">
                    <label for="requiredDays">req.working days</label>
                    <input
                      type="text"
                      id="requiredDays"
                      formControlName="reqWorkingDays"
                      placeholder="0"
                      class="form-control reqDays-input input"
                    />
                    <!-- <label for="amount">Amount</label> -->
                    <!-- <div *ngIf="newOrderForm.get('quantity')?.errors && newOrderForm.get('quantity')?.touched" class="text-danger">
                                fill quantity correctly
                              </div> -->
                  </div>
                  <div class="mb-3">
                    <label for="date">Trial Date</label>
                    <input
                      type="date"
                      id="date"
                      formControlName="trialDate"
                      placeholder="date"
                      class="form-control date-input input"
                    />
                    <!-- <label for="date">date</label> -->
                    <!-- <div *ngIf="newOrderForm.get('date')?.errors && newOrderForm.get('date')?.touched" class="text-danger">
                                please select a date
                              </div> -->
                  </div>
                </div>
              </div>
              <div class="submit-container">
                <div class="w-75">
                  <div
                    (click)="calculateTotalAmount()"
                    class="btn total-button btn-dark mb-4"
                  >
                    Total Amount : {{ totalAMount }}
                  </div>
                </div>

                <div class="order-submit-container">
                  <div>
                    <button  (click)="submitForm()" class="btn btn-primary">
                      <div *ngIf="!addingOrder">Add Order</div>
                      <div
                        *ngIf="addingOrder"
                        class="spinner-border me-1"
                        style="width: 1rem; height: 1rem"
                        role="status"
                      ></div>
                      <span *ngIf="addingOrder">adding...</span>
                    </button>
                  </div>
                  <div class="success-message text-success">
                    {{ orderSuccessMessage }}
                  </div>
                  <div
                    *ngIf="!newOrderForm.valid && formIncompleteMessage"
                    class="fillfields text-danger"
                  >
                    please fill all the fields
                  </div>
                </div>
              </div>
            </div>
            <div class="col-9   ">
              <div class=" col9 d-flex justify-content-between">
                <div>
                  <div class="d-flex justify-content-start">





                    
                    <div class=" ">
                      <select
                        id="item"
                        formControlName="item"
                        aria-placeholder="Select item"
                        class="form-select item-input input"
                      >
                        <option value="">Select item</option>
                        <option value="shirt">shirt</option>
                        <option value="pants">pants</option>
                        <option value="t-shirt">t-shirt</option>
                        <option value="Salwar">Salwar</option>
                        <option value="kurthi">kurthi</option>
                        <option value="churidar">churidar</option>
                      </select>
                      <div
                        *ngIf="
                          newOrderForm.get('item')?.errors &&
                          newOrderForm.get('item')?.touched
                        "
                        class="text-danger"
                      >
                        Status is required
                      </div>
                    </div>
    
                    <div class=" ">
                      <input
                        type="text"
                        id="amount"
                        formControlName="amount"
                        placeholder="price"
                        class="form-control item-input input"
                      />
                      <!-- <label for="amount">Amount</label> -->
                      <div
                        *ngIf="
                          newOrderForm.get('amount')?.errors &&
                          newOrderForm.get('amount')?.touched
                        "
                        class="text-danger"
                      >
                        fill amount correctly
                      </div>
                    </div>
                    <div class=" ">
                      <input
                        type="text"
                        id="quantity"
                        formControlName="quantity"
                        placeholder="Quantity"
                        class="form-control item-input input"
                      />
                      <!-- <label for="amount">Amount</label> -->
                      <div
                        *ngIf="
                          newOrderForm.get('quantity')?.errors &&
                          newOrderForm.get('quantity')?.touched
                        "
                        class="text-danger"
                      >
                        fill quantity correctly
                      </div>
                    </div>
                    
                    <br />
                    <div class="dropdown mb-3">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Image
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button *ngFor="let image of imageOptions" class="dropdown-item" (click)="selectImage(image)">
                          <img class="dropdown-image" [src]="image" alt="">
                          <span class="dropdown-text">{{ image }}</span>
                        </button>
                      </div>
                    </div>
                    
                    
                    <!-- <img class="itemImage" [src]="image" alt=""> -->
                    <!-- <img class="itemImage" src="https://images.pexels.com/photos/6461250/pexels-photo-6461250.jpeg" alt=""> -->
                    
                    <!-- <div class="image-input-container me-3">
                      <label for="itemImage">select image</label><br>
                      <input id="itemImage" type="file"  name="itemImage"  />
                    
                    </div> -->
                    
                  </div>
                  <div class="table-container">
                    <table class="item-table ">
                      <thead>
                        <tr>
                          <th>Image</th>
                          <th>item</th>
                          <th>Quantity</th>
                          <th>Amount</th>
                          <th>Total Amount</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of itemTable">
                          <td>
                            
                          </td>
                          <td>{{ item.item }}</td>
                          <td>{{ item.quantity }}</td>
                          <td>{{ item.amount }}</td>
                          <td>{{ item.quantity * item.amount }}</td>
                          <td>
                            <button
                              (click)="removeItem(item)"
                              type="button"
                              class="btn"
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                            >
                              <i
                                class="fa-solid fa-trash text-danger delete-button"
                              ></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="section-2">
                  <div class="measure-style-container">
                    <table  class="w-100 h-100 table-2 text-center">
                        <tr class="section-2-head ">
                          <th >select style</th>
                          <th>enter measurement</th>
                          
                        </tr>
                        <tr class="">
                          <td></td>
                          <td></td>
                        </tr>
                    </table>
                    <!-- <div class="d-flex justify-content-between">
                        <div>select style</div>
                        <div>enter measurement</div>
                    </div> -->
                  </div>
                  <div>
                    <button (click)="addItem()" class="btn btn-outline-secondary">
                      Add Item
                    </button>
                  </div>
                </div>
              </div>
              <p class="bill-details-heading">Bill Details</p>
              <div class="bill-container border d-flex  justify-content-between g-3">
                  <div class="bill-details-container border">
                    <div>
                      <div>
                        <label class="me-2 " for="totalItems">Total Items</label>
                        <input id="totalItems" class="input bill-inputs mb-4" type="text">
                      </div>
                      <div>
                        <label class="me-2 " for="grossTotal">Gross Items</label>
                        <input id="grossTotal" class="input bill-inputs mb-4" type="text">
                      </div>
                    </div>
                    <div>
                      <div>
                        <label class="me-2 " for="grossTotal">Taxable </label>
                        <input id="grossTotal" class="input bill-inputs mb-4" type="text">
                      </div>
                      <div>
                        <label class="me-2 " for="grossTotal">total Tax</label>
                        <input id="grossTotal" class="input bill-inputs mb-4" type="text">
                      </div>
                    </div>
                    <div>
                      <div>
                        <label class="me-2 " for="grossTotal">SGST Amt</label>
                        <input id="grossTotal" class="input bill-inputs mb-4" type="text">
                      </div>
                      <div>
                        <label class="me-2 " for="grossTotal">CGST Amt</label>
                        <input id="grossTotal" class="input bill-inputs mb-4" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="payment-section border p-2">
                    <div class="d-flex justify-content-between">
                      <div>
                        <label class="me-2 " for="grossTotal">Paying Now</label><br>
                        <input id="grossTotal" class="input bill-inputs mb-4" type="text">
                      </div>
                      <div>
                        <label class="me-2 " for="grossTotal">Due</label><br>
                        <input id="grossTotal" class="input bill-inputs mb-4" type="text">
                      </div>
                    </div>
                    
                  </div>
              </div>
            </div>
           
          </div>
          <!--  -->
        </form>
      </div>
    </div>
  </div>
</div>