<div class="page">
    <div class="containerr">
      <div class="row h-100">
        <div class=" card-container">
            <div class="single-card-container" routerLink="/order">
              <div class="card-content">
                  <div><i class="fa-solid fa-cash-register"></i></div>
                  <div class="card-text">Order</div>
              </div>
            </div>
            <div class="single-card-container">
              <div class="card-content">
                  <div><i class="fa-solid fa-shirt"></i></div>
                  <div class="card-text">Item Master</div>
              </div>
            </div>
            <div class="single-card-container">
              <div class="card-content">
                  <div><i class="fa-solid fa-cart-arrow-down"></i></div>
                  <div class="card-text">Purchase</div>
              </div>
            </div>
            <div class="single-card-container">
              <div class="card-content">
                  <div><i class="fa-solid fa-user"></i></div>
                  <div class="card-text">Customer</div>
              </div>
            </div>
            <div class="single-card-container">
              <div class="card-content">
                  <div><i class="fa-solid fa-circle-user"></i></div>
                  <div class="card-text">Supplier</div>
              </div>
            </div>
            <div class="single-card-container">
              <div class="card-content">
                  <div><i class="fa-solid fa-users"></i></div>
                  <div class="card-text">Staff</div>
              </div>
            </div>
            <div class="single-card-container">
              <div class="card-content">
                  <div><i class="fa-solid fa-cart-shopping"></i></div>
                  <div class="card-text">Sales</div>
              </div>
            </div>
            <div class="single-card-container">
              <div class="card-content">
                  <div><i class="fa-solid fa-wallet"></i></div>
                  <div class="card-text">Expence</div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
