<div class="page">
    <div class="container">
      <div class="row">
        <div class=" card-container">
          <div class="card" routerLink="order">
            <div class="card-content">
                <div><i class="fa-solid fa-cash-register"></i></div>
                <div>Order</div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
                <div><i class="fa-solid fa-shirt"></i></div>
                <div>Item Master</div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
                <div><i class="fa-solid fa-cart-arrow-down"></i></div>
                <div>purchase</div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
                <div><i class="fa-solid fa-user"></i></div>
                <div>customer</div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
                <div><i class="fa-solid fa-circle-user"></i></div>
                <div>supplier</div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
                <div><i class="fa-solid fa-users"></i></div>
                <div>staff</div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
                <div><i class="fa-solid fa-cart-shopping"></i></div>
                <div>sales</div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
                <div><i class="fa-solid fa-wallet"></i></div>
                <div>expence</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
